.title {
  padding: 0 0.5rem;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--grey-border);
  text-transform: uppercase;
}

.detailTitle {
  background-color: var(--color-primary-dark-2);
}

.countryContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: calc(47 * 18rem);
}
