.header {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);

  .image {
    width: 50%;
    height: 18rem;
  }

  .headerTitle {
    text-transform: uppercase;

    h2 {
      font-size: 3rem;
      line-height: 90%;
      letter-spacing: .3rem;
    }
  }
}
