.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-dark-1);

  .icon {
    color: var(--white);
    margin: 1rem;
    font-size: 2rem;
  }
}
